:root {
  --color-primary: #a56c2f;font-size: 28px;
  --color-secondary: #6c4c3c;font-size: 28px;
  --color-highlight: #a56c2f;font-weight: 700;
  --color-dark: #333;
  --color-light: #f9f4f0;
  --color-accent: #b85c38;

  --font-base: 'Poppins', sans-serif;

  --shadow-base: 0 3px 8px rgba(0, 0, 0, 0.08);
  --title:
}
 