/* Header Fixed */
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    background: #fbfbfbfb;  
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

 body {
    padding-top: 170px;  
}

/* Topbar */
.topbar {
    background: #fbfbfbfb; /* lebih gelap dari navbar */
    font-size: 14px;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.topbar a {
    color: #f5e9d9;
}
.topbar a:hover {
    color: #fa0b03;
}

/* Logo */
.logo-img {
    max-height: 70px;
    transition: transform 0.3s ease;
}
.logo-img:hover {
    transform: scale(1.05);
}

/* Navbar Links */
.navbar-nav .nav-link {
    color: #f5e9d9; /* warna teks terang */
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    background: #c07b3f; /* coklat emas highlight */
    color: #fff;
}
